<div class="container">
   <h1>Użytkownicy w bazie</h1>
   <table class="table">
      <thead>
         <th>Imie</th>
         <th>Nazwisko</th>
         <th>Email</th>
         <th>Telefon</th>
         <th>Stworzone<th/>
      </thead>
      <tbody>
         <tr ng-repeat="user in data" scope="row">
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.telephone }}</td>
            <td>{{ user.created_at }}</td>
            <td>
               <button class="btn btn-success" ng-click="editAsAdmin(user)">Edytuj</button>
            </td>
         </tr>
      </tbody>
   </table>
</div>