<div class="container">
   <div class="jumbotron">
      <div class="row">
         <div class="col-md-12">
            <h1 class="big s1">{{ data.firstname }} {{ data.lastname }}</h1>
         </div>
   
         <p><i class="icon_phone mr20 id-color"></i>{{ data.telephone }}</p>
         <p><i class="icon_mail mr20 id-color"></i>{{ data.email }}</p>
         
         <button class="btn btn-success" ng-if='["normal", "admin"].includes(currentUser.permissions)' 
            ng-click="edit(data)">Edytuj dane</button>
      </div>
   </div>
</div>
