<div class="container">
   <h1>Utwórz nowy rodzaj zajęć</h1>
   <form ng-submit="save(name, description, duration)">
      <div class="form-group">
         <label>Nazwa</label>
         <input class="form-control" type="text" ng-model="name" required>
      </div>
      <div class="form-group">
         <label>Opis</label>
         <input class="form-control" type="text" ng-model="description" required>
      </div>
      <div class="form-group">
         <label>Jak długo</label>
         <input class="form-control" type="time" ng-model="duration" required>
      </div>
      <input class="btn btn-success btn-lg btn-block" type="submit" value="Utwórz">
   </form>
</div>