<div class="container">
   <h1>Prowadzone zajęcia</h1>
   <table class="table">
      <thead>
         <th>Trener</th>
         <th>Początek</th>
         <th>Maksymalna ilość miejsc</th>
         <th>Wolne miejsca</th>
         <th>Akcje</th>
      </thead>
      <tbody>
         <tr ng-repeat="class in classes" scope="row">
            <td><span data-toggle="tooltip" data-placement="bottom" title="{{ class.trainerDescription }}">
               {{ class.trainerName }}</span></td>
            <td>{{ class.start }}</td>
            <td>{{ class.max_participants }}</td>
            <td>{{ class.max_participants - class.empty_places }}</td>
            <td>
               <button class="btn btn-success" ng-if='["admin"].includes(currentUser.permissions)' ng-click="edit(class)">Edytuj</button>
               <div ng-if="currentUser.name !== class.trainerName" class="btn btn-success assignMe" onclick="window.myButton=this" ng-click="reservation()">
                  <div class="plus-minus" ng-class="{collapsed: !class.reserved}" title="{{ class.id }}"></div>
               </div>
               <div ng-if="currentUser.name === class.trainerName" class="btn btn-danger" 
                  onclick="alert('Jesteś przypisany jako trener')">
                  <div class="plus-minus"></div>
               </div>
            </td>
         </tr>
      </tbody>
   </table>

   <a ng-if='["admin"].includes(currentUser.permissions)' href="/#/classes/editSpecial"><button
         class="btn btn-success btn-block">Dodaj nowy</button></a>
</div>